@import './colors'

body
  background-color: $white
  margin: 0
  min-width: 320px
  font-family: 'Montserrat', sans-serif

*
  transition: all .25s

button
  font-family: inherit

*, *::before, *::after
  box-sizing: border-box